.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5em;

    .country-card {
        width: 20em;
        height: 25em;
    }

    .country-card-img-container {
        img {
            width: 20em;
            height: 12em;
        }
    }

    .cards-text {
        padding: 1.3em 1.7em;
    }

    .cards-text h2 {
        margin-bottom: 1.2em;
    }

    .cards-text p {
        font-size: 1em;

    }

}

.dark-mode {
    .country-card {
        background-color: var(--dark-blue-dark-mode-elements);
    }
}