.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.5em;

    .country-card {
        width: 20em;
    }

    .country-card-img-container {
        img {
            width: 20em;
            height: auto;
        }
    }
}

.dark-mode {
    .country-card {
        background-color: var(--dark-blue-dark-mode-elements);
    }
}