.search-bar-container {
    display: flex;
    align-items: center;
    width: 32.5em;
    height: 3rem;
    border-radius: 7px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
    .search-icon-container {
        padding: 0 1.6em;
    }
    
    input {
        width: 100%;
        border: none;
    } & :focus-visible {
        outline: none;
    }
}

.dark-mode {
    .search-bar-container {
        background-color: var(--dark-blue-dark-mode-elements);
        color: var(--white);
    }

    input, input::placeholder {
        background-color: var(--dark-blue-dark-mode-elements);
        color: var(--white);
    }
}

.light-mode {
    .search-bar-container {
        background-color: var(--white);
        color: var(--dark-gray-light-mode-input);
    }

    input, input::placeholder {
        background-color: var(--white);
        color: var(--dark-gray-light-mode-input);
    }
}